<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- CSS link -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">

    <!-- Font Awesome -->

    <!-- favicon -->
    <link rel="icon" href="DALL·E 2023-03-05 22.00.54 - make a simple logo for  SN.png">

</head>
<body>

    <div class="nav-1">
        <h1 class="appname">SocialNetwork</h1>
        <div class="img"><img class="logo" src="DALL·E 2023-03-05 22.00.54 - make a simple logo for  SN.png" alt="img"></div>
    </div>

    <div class="nav-2">
        <p class="icon"><a href="/"><i class="fa-solid fa-house"></i></a></p>
        <p class="icon"><a href="/chat"><i class="fa-solid fa-message"></i></a></p>
        <p class="icon"><a href="/post"><i class="fa-sharp fa-solid fa-circle-plus"></i></a></p>
        <p class="icon"><a href="/profile"><i class="fa-solid fa-user"></i></a></p>
        <p class="icon"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></p>
        <p class="icon"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></p>
    </div>
    <hr>
    <div class="head">
        <img src="<%= pic %>" alt="img" style="width: 60px;border-radius: 50px;">
        <h2><%= uname %></h2>
        <p> account created at : <%= time %></p>
    </div>
    <hr>
    <h1 class="post">Posts</h1>
    <div class="container">
        <div>
            <% if(data.length > 0) { %>
                <% data.forEach((row)=>{ %>
            <form action="/delete" method="post">
                 <div class="border">   
                    <div class="one">
                    </div>
                    <div class="pimg">
                        <img src="./uploads/<%= row.imagename %>" alt="img" style="width: 400px; margin: 5px auto;">
                    </div>
                    <div class="message">
                        <p><%= row.message%></p>
                    </div>
                    <div class="delete">
                        <input class="form-check-input" id="flex" type="checkbox" name="checkbox" value="<%= row._id %>" onChange="this.form.submit()">
                        <label class="form-check-label" for="flex">
                            <-- Hit this if you want to delete this post 
                        </label>
                    </div>
                </div>   
            </form>    
                    <% }) } %>
        </div>
    </div>
    <p class="yash-p">© Yash Mahajan.</p>
</body>
</html>